<table class="w-full">
  <tr>
    <td>
      <table class="w-full">
        <tr>
          <td class="w-[270px]">
            <table class="w-full">
              <tr>
                <td>
                  <table>
                    <tr><td class="w-[100px] h-[100px] bg-[#D9D9D9] rounded-full"></td></tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class=" w-[220px] font-sans font-bold text-[20px] leading-[100%] tracking-[0%] text-center text-[#005555]">Nisi ut ade</td>
              </tr>
              <tr>
                <td class=" w-[220px] font-sans text-[16px] leading-[100%] tracking-[0%] text-center text-[#005555]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam.<small><sup>1</sup></small></td>
              </tr>
            </table>
          </td>
          <td class="w-[270px]">
            <table class="w-full">
              <tr>
                <td>
                  <table>
                    <tr>
                      <td class="w-[100px] h-[100px] bg-[#D9D9D9] rounded-full"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class=" w-[220px] font-sans font-bold text-[20px] leading-[100%] tracking-[0%] text-center text-[#005555]">
                  Duis aute irure</td>
              </tr>
              <tr>
                <td class=" w-[220px] font-sans text-[16px] leading-[100%] tracking-[0%] text-center text-[#005555]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam.<small><sup>2</sup></small></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
